<header>
  <div class="name" href="/">Savvy</div>
  <nav>
    <ul class="navlinks">
      <li><a href="/add-course">Add New Course</a></li>
      <li><a href="/show-courses">Show All Courses</a></li>
    </ul>
  </nav>
</header>

<h3>Add Course</h3>

<div class="form-div">
  <form action="/add-course" method="POST">
    <label for="subjectcode">Subject Code</label>
    <input
      type="text"
      id="scode"
      name="subjectcode"
      placeholder="subject code.."
    />

    <label for="subjectname">Course Name</label>
    <input
      type="text"
      id="cname"
      name="subjectname"
      placeholder="Subject name.."
    />

    <label for="institutename">Institute Name</label>
    <input
      type="text"
      id="institutename"
      name="institutename"
      placeholder="Institute name.."
    />
    <label for="departmentname">Department Name</label>
    <input
      type="text"
      id="departmentname"
      name="departmentname"
      placeholder="Department name.."
    />

    {{! <label for="semester">Semester Name</label>
<input type="text" id="semester" name="semester" placeholder="Semester name..">

 }}

    <label for="semester">Semester</label>
    <select id="semester" name="semester">
      <option value="First">First</option>
      <option value="Second">Second</option>
      <option value="Third">Third</option>
      <option value="Fourth">Fourth</option>
      <option value="Fifth">Fifth</option>
    </select>

    <input type="submit" value="Submit" />
  </form>

  <!--Bootstrap form-->
  <form>
    <div class="mb-3">
      <label for="CourseID" class="form-label">Course ID</label>
      <input
        type="text"
        class="form-control"
        id="CourseID"
        name="courseid"
        aria-describedby="emailHelp"
      />
      {{! <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div> }}
      <label for="deptname" class="form-label">Department Name</label>
   <div class="form-check form-check-inline">
	  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
	  <label class="form-check-label" for="flexRadioDefault1">
		 Cspit
	  </label>
	</div>
	<div class="form-check form-check-inline">
	  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
	  <label class="form-check-label" for="flexRadioDefault2">
		Depstar
	  </label>
	</div>
  <br>
    <label for="instiname" class="form-label">Institute Name</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="Cspit" />
      <label class="form-check-label" for="Cspit">
        Cspit
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="Depstar"
        checked
      />
      <label class="form-check-label" for="Depstar">
        Depstar
      </label>
    </div>
    <label for="uniname" class="form-label">University Name</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>select university</option>
      <option value="1">Charusat</option>
      <option value="2">A</option>
      <option value="3">B</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>